root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
# En Markdown dos espacios al final son un salto de línea.
trim_trailing_whitespace = false

[*.bat]
end_of_line = crlf

[*.{woff2,png,mp4}]
insert_final_newline = false
trim_trailing_whitespace = false
